# requirements.txt
streamlit>=1.31.0
python-dotenv>=1.0.0
torch>=2.0.0
transformers>=4.35.0          # huggingface 依赖
sentence-transformers>=2.2.2  # 部分 huggingface 模型需要
langchain>=0.1.0
langchain-community>=0.0.20
langchain-core>=0.1.0
langchain-huggingface>=0.0.1
faiss-cpu>=1.7.4              # 如果有 GPU 可换 faiss-gpu
pypdf>=4.0.0
graphviz>=0.20.1
